[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
connexion = {extras = ["swagger-ui"], version = "*"}
sqlalchemy = "*"
flask-sqlalchemy = "*"
swagger-ui = "*"

[dev-packages]

[requires]
python_version = "3.8"
